{% extends 'helium/layout.html' %}
{% load static %}

{% block pagetitle %}Grade Scans: {{ problem }}{% endblock %}

{% block layout-content %}
<p><i>Instructions:</i> 
Compare the answer for the given problem with the image shown below.
For an all-or-nothing problem,
input a score of either 0 or 1 in the textbox below, then press return.
You will then automatically be shown a different scan.
Towards the end of the stack for a problem,
you may see the same answer several times
(due to latency between submitting a score
and having it saved into the database). This is normal.</p>

<p><b>Ludicrous Speed:</b>
<input type="checkbox" id="ludicrous_speed"
	{% if not problem.allow_partial %}checked{% endif%}/></p>
<p>(Enable ludicrous speed if you plan to enter one-digit answers only.
If enabled, you don't need to press "return".)
</p>

<div class="scanstage">
	<a class="scanzoom" src="" id="full_url" target="_blank"/>(View Full Judgment)</a>
	<a class="scanzoom" src="" id="zoom_url" target="_blank"/>(View Full Scan)</a>
	<img class="scan" src="" id="scan_img" />
</div>

<div id="controls">
<h4>Answer: <span class="answer">{{ problem.answer }}</span></h4>
<p>Input Score: <input id="score" name="score" type="number" /></p>
</div>
<div><button id="button_decr_index">Go Back</button>
<button id="button_incr_index">Skip</button></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	// We have a stream of data objects, which are tuples of ID's and whatnot
	// current_index points to the one we are currently reading

	// Stream of data objects. We'll preload images using this.
	// Items are ordered tuples (scribble id, image url, examscribble id, verdict id)
	// current_index describes which one we currently have
	var stream = [];
	var seen_ids = []; // just the ID
	var current_index = 0; // the current index inside the stream
	var sid = 0; // current scribble's ID
	var pos = 0; // maximum scribble ID given out

	var is_waiting = true;
	// This flag is set to true if the queue is empty
	// and load_scan_at_current_index cannot find an image.
	// This causes the preload_next_scan to call
	// load_next_scan when it finishes.

	function preload_next_scan(n) {
		$.ajax({
			url  : "/helium/ajax/next-scan/",
			type : "POST",
			data : {
				problem_id : {{ problem.id }},
				num_to_load : n,
				pos : pos,
				exclude : seen_ids.slice(-3),
			},
		}).done(function(result) {
			for (var i=0; i<result.length; i++) {
				var data = result[i];
				stream.push(data);
				seen_ids.push(data[0]);
				pos = data[0];
				$('<img />').attr('src', data[1]); // preload the image
				if (is_waiting) { // If pending, load next scan
					is_waiting = false;
					load_scan_at_current_index(); // try again
				}
			}
		});
	}
	preload_next_scan(3); // preload 3 scans

	function load_scan_at_current_index() {
		if (stream.length <= current_index) {
			// No next item to grab: defer until after next preload call
			is_waiting = true;
		}
		else {
			// Push to next guy
			next_data = stream[current_index];
			
			// Meow
			sid = next_data[0];
			var image_url  = next_data[1];
			var examscribble_id = next_data[2];
			var vid = next_data[3];
			$("#scan_img").attr('src', next_data[1]);
			if (sid != 0) {
				$("#scan_id").html(sid);
				$("#zoom_url").attr('href',
						'/helium/view-paper/scan/' + examscribble_id + '/#scan');
				$("#full_url").attr('href',
						'/helium/view-verdict/' + vid + '/');
			}
		}
		console.log(stream);
		console.log(current_index);
	}

	$("#score").keyup(function (e) {
		if (sid == 0) return; // nothing to do
		var ludicrous_speed = $("#ludicrous_speed").is(":checked");
		if (e.which == 13 || ludicrous_speed) {
			score = $("#score").val()
			{% if not problem.allow_partial %}
				// For non-partial problem require binary scores
				if (score != "0" && score != "1") return;
			{% endif %}

			// Now submit this
			$.ajax({
				url  : "/helium/ajax/submit-scan/",
				type : "POST",
				data : { scribble_id : sid, score : score },
			});
			preload_next_scan(1);

			current_index++; // Move to next one
			load_scan_at_current_index();
			$("#score").val(''); // reset
		}
	});

	$("#button_decr_index").click(function() {
		if (current_index > 0) current_index--;
		load_scan_at_current_index();
	});
	$("#button_incr_index").click(function() {
		if (sid == 0) return;
		current_index++;
		preload_next_scan(1);
		load_scan_at_current_index();
	});

	load_scan_at_current_index(); // load first image
	$("#score").focus();
});
</script>
{% endblock %}
