{% extends 'helium/layout.html' %}
{% load static %}

{% block pagetitle %}Dashboard{% endblock %}

{% block layout-header %}
<section id="banner">
<img src="{% static 'img/balloons.png' %}"/>
</section>
{% endblock %}

{% block layout-content %}
<h2>Helium 2.0 (<a href="{% static 'helium-manual/helium-manual.pdf' %}">user manual</a>)</h2>
<p>
	This is <b>Helium</b>, brought to you by HMMT 2016-2017 Scripts Team.
	It is inspired off of Stanford's <a href="http://atomicgrader.com/">Atomic Grader</a>,
	and named in its honor.
	Use the link above for user manual.
</p>
<hr />

<h4>Grade by Scans</h4>
<p><i>New graders: pick a random problem and press Start Scan Grader.
	Alternatively, use "Match Scans" if you want to match children to names.
	Avoid "Upload Scans" unless instructed to do so.</i></p>

<form action="{% url 'grade_scans_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ problemscanform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Start Scan Grader" />
		</div>
	</div>
</form>

<form action="{% url 'fast_match_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ examscanform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Match Scans" />
		</div>
	</div>
</form>

<ul>
	<li><a href="{% url 'upload_scans' %}">Upload Scans</a></li>
</ul>

<h4>Grade by Physical Papers</h4>
<p><i>Do not use these tools for exams graded by scans!</i></p>

<form action="{% url 'old_grader_exam_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ examform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Classical Grader" />
		</div>
	</div>
</form>
<form action="{% url 'old_grader_problem_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ problemform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Classical Grader" />
		</div>
	</div>
</form>

<ul>
	<li><a href="{% url 'estimation_calc' %}">Guts Estimation Calculator</a></li>
</ul>

<h4>View</h4>
<div class="clearfix">
	<div class="col-xs-6">
		<ul>
		<li><a href="{% url 'find_paper' %}">Find Paper (and Issues)</a></li>
		<li><a href="{% url 'view_conflicts_own' %}">View Your Conflicts</a></li>
		<li><a href="{% url 'view_conflicts_all' %}">View All Conflicts</a> (admin)</li>
		<li><a href="{% static 'answers/february-answersheet.pdf' %}">HMMT Feb Answer Sheets (PDF)</a></li>
		<li><a href="{% static 'answers/november-answersheet.pdf' %}">HMMT Nov Answer Sheets (PDF)</a></li>
		<li><a href="{% static 'answers/internal-answersheet.pdf' %}">Example Answer Sheets (PDF)</a></li>
		{% if request.user.is_superuser %}
			<li><a href="/admin/helium/">Django Admin</a> (admin)</li>
		{% endif %}
		</ul>

	</div>
	<div class="col-xs-6">
		<ul>
		<li><a href="{% url 'progress_problems' %}">Progress Grading</a></li>
		<li><a href="{% url 'progress_scans' %}">Progress Matching Scans</a></li>
		<li><a href="{% url 'results_short' %}">Print Short Results</a></li>
		<li><a href="{% url 'results_extended' %}">Print Extended Results</a></li>
		<li><a href="{% url 'reports_awards' %}">Get Awards Beamer</a></li>
		{% if request.user.is_superuser %}
			<li><a href="{% url 'reports_full' %}">Print Full Results</a> (admin)</li>
			<li><a href="{% url 'reports_spreadsheet' %}">Score Spreadsheet</a> (admin)</li>
		{% endif %}
		</ul>
	</div>
</div>

{% if request.user.is_superuser %}
<h4>Management Commands</h4>
<ul>
	<li><a href="{% url 'manage' 'algscore' %}">Run Algorithmic Scoring</a></li>
	<li><a href="{% url 'manage' 'grade' %}">Run Grading</a></li>
	<li><a href="{% url 'manage' 'cleanverdicts' %}">Clean Verdicts</a></li>
	<li><a href="{% url 'manage' 'updatescribbles' %}">Update Scribbles</a></li>
	<li><a href="{% url 'manage' 'releaseattention' %}">Release Scribbles from Attention Queue</a></li>
</ul>
{% endif %}
{% endblock %}

{% block layout-footer %}
<section id="footer">
<p>Helium &copy; 2017 Evan Chen</p>
</section>
{% endblock %}
