{% extends 'helium/base.html' %}
{% load static %}

{% block helium-stylesheets %}
<link href="{% static 'css/helium.css' %}" rel="stylesheet">
{% if exam %}
<style type="text/css">
body { background-color: {{ exam.color }}; }
</style>
{% endif %}
{% endblock %}

{% block content %}
  {% block layout-header %}
  <section id="banner">
	  <a href="{% url 'index' %}"><img src="{% static 'img/balloons.png' %}"/></a>
  </section>
  <p><a href="{% url 'index' %}">&lt; Back to Helium home</a></p>
  {% endblock %}
  <section id="body-form">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <h3>{% block pagetitle %}{% endblock %}</h3>
  {% block layout-content %}
  {% endblock %}
  <hr />
  </section>

  {% block layout-footer %}
  <section id="footer">
  <p><a href="{% url 'index' %}">&lt; Back to Helium home</a></p>
  <p>Helium &copy; 2017 Evan Chen</p>
  </section>
  {% endblock %}
{% endblock %}

{% block helium-scripts %}
<script type="text/javascript" src="{% static 'js/autoselect.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (settings.type == 'POST' && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
  }}});

  var autocomplete_options = {
    'relevancy-sorting': false,
    'alternative-spellings' : false,
    'sort': false,
    'delay': 250, // seems to not do anything? sad
  }

  $("#id_entity[type!=\"hidden\"]").selectToAutocomplete(autocomplete_options);
  $("#id_mathlete[type!=\"hidden\"]").selectToAutocomplete(autocomplete_options);
  $("#id_team[type!=\"hidden\"]").selectToAutocomplete(autocomplete_options);

  var angle = 0;
  $("#rotate_link").click(function() {
    angle += 180;
    $("#scan_img").css('transform', 'rotate('+angle+'deg)');
  });
});
</script>
{% endblock %} 
