{% extends 'helium/layout.html' %}
{% load static %}

{% block pagetitle %}Management Task #{{ task.id }}{% endblock %}

{% block layout-content %}
<h3>Status: <span id="status"></span></h3>

<ul>
	<li>Task name: {{ task.name }}</li>
	<li>User: {{ task.user }}</li>
	<li>Start: {{ task.time_created }}</li>
</ul>


<div id="output"></div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

function task_query(t) {
	$.ajax({
		url  : "/helium/ajax/task-query/",
		type : "POST",
		data : {
			task_id : {{ task.id }},
		},
	}).done(function(result) {
		var stat = result[0];
		if (stat == 'FAIL') {
			$("#status").html("FAILED");
			$("#status").addClass('text-warning');
			$("#output").html(result[1]);
		}
		else if (stat == 'OK') {
			$("#status").html("OK");
			$("#status").addClass('text-success');
			$("#output").html(result[1]);
		}
		else {
			t += 1000;
			window.setTimeout(function() { task_query(t) }, t);
			$("#status").html("Processing");
			$("#output").html("The task still in progress. We'll ask again in " + t + " milliseconds.");
		}
	}).error(function(xhr, ajaxOptions, thrownError) {
		$("#output").html("The server threw an error!? Refresh the page.");
		$("#status").html("???");
		$("#status").addClass('text-danger');
	});
}

task_query(0);

});
</script>
{% endblock %}
