ul.errorlist {
	color: red;
	list-style-type: none;
	font-weight: bold;
	padding-left: 0pt;
}

.helptext {
	color : blue;
	font: Trebuchet MS;
	font-size: 8pt;
}

/* Suppress number inputs from being bad */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	.webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
	width: 60px;
	height: 9px;
}

/* Autocomplete full length */
input.ui-autocomplete-input {
	width: 100%;
}

/* Messages */
ul.messages {
	margin-top: 15px;
	list-style-type: none;
	padding-left: 0pt;
	font-weight: bold;
	border: 1px solid black;
	padding: 10px;
	background-color: white;
}
ul.messages > li.success { color: green; }
ul.messages > li.error { color: red; }
ul.messages > li.warning { color: orange; }
