ul.errorlist, ul.form_error_messages {
	color: red;
	list-style-type: none;
	font-weight: bold;
	padding-left: 0pt;
}

.helptext {
	color : blue;
	font: Trebuchet MS;
	font-size: 8pt;
}

img.scan {
	width: 95%;
	border: 1px solid black;
	margin-top: 4px;
	margin-bottom: 4px;
}

img.thumbnail {
	width: 240px;
}

span.answer {
	color: #006600; /* dark-ish green */
	font-size: 140%;
	background: white;
}

div.scanstage {
	clear: both;
}

a.scanzoom {
	/* For links "(click to view full paper)" */
	clear: both;
	float: right;
	font-size: 9pt;
}

/* Suppress number inputs from being bad */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	.webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
	width: 180px;
	height: 24px;
}

/* Autocomplete full length */
input.ui-autocomplete-input {
	width: 100%;
}

/* Messages */
ul.messages {
	margin-top: 15px;
	list-style-type: none;
	padding-left: 0pt;
	font-weight: bold;
	border: 1px solid black;
	padding: 10px;
	background-color: white;
}
ul.messages > li.success { color: green; }
ul.messages > li.error { color: red; }
ul.messages > li.warning { color: orange; }
ul.messages > li.info { color: blue; }

/* Copied from HMMT layout.css */
#content-container { 
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
#banner img {
	width: 100%;
}
#page-wrapper {
	width: 80vw;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#debug-warning {
	background-color: #00CCA7 !important;
	color: #000;
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
	margin-bottom: 0pt;
}
body {
	padding-top: 0px;
	background-color: #eefff6;
}
