{% comment %}
This is a boilerplate template for a typical form which posts to itself.
It takes two arguments:

form: the Django form object
submit_name: the label to put on the Submit button
has_upload: a Boolean, if true, enctype="multipart/form-data" is set
action: the URL action to go to, defaults to request.path

{% endcomment %}

<form {% if action %}action="{{action}}"{% else %}action="{{ request.path }}" {% endif %}
	method="post" {% if has_upload %}enctype="multipart/form-data"{% endif %}>
{% csrf_token %}

{% if form.non_field_errors %}
<ul class="form_error_messages">
	{% for err in form.non_field_errors %}
	<li class="form_error_message">{{ err }}</li>
	{% endfor %}
</ul>
{% endif %}


<table class="table">

{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
	<tr {% if field.errors %} class="field_error"{% endif %}>
		<th class="label-tag"> {{ field.label_tag }} </th>
		<td class="field-tag">
			{{ field }}
			{% if field.help_text %}
			<span class="helptext">{{ field.help_text|safe }}</span>
			{% endif %}
			{% if field.errors %}
				<ul class="errorlist">
				{% for err in field.errors %}
					{{ err }}
				{% endfor %}
				</ul>
			{% endif %}
		</td>
	</tr>
{% endfor %}

</table>
<input type="submit" {% if submit_name %}value="{{ submit_name }}"{% endif %}>
</form>

{% comment %}
vim: ft=htmldjango
{% endcomment %}
