<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />

    {% block helium-stylesheets %}{% endblock %}
</head>

<body>
    {% if debug %}
    <div id="debug-warning" class="alert" role="alert">
        Site currently in <b style="color:red;">DEBUG</b> mode.
        Please make all stupid mistakes here (presumably 127.0.0.1:8000) instead of on production ;)
        Cheers, Evan
    </div>
    {% endif %}

    <div id="page-wrapper">
    {% block navbar %}
    <div id="helium-nav">
      <a href="/helium">&lt; Back to Helium home</a>
      <ul class="nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 0px">{{ user }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li><a href="/">Site Home</a></li>
          <li><a href="/helium">Helium Dashboard</a></li>
          {% if user.is_superuser %}
          <li><a href="/admin">Django Admin</a></li>
          {% endif %}
          <li><a href="/admin/logout">Log Out</a></li>
          </ul>
        </li>
        {% else %}
        <li class="dropdown">
          <span><a href="/admin/login">Log In</a></span>
        </li>
        {% endif %}
        </li>
      </ul>
      <div style="clear: both;"></div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65249351-1', 'auto');
      ga('send', 'pageview');
    </script>

    {% block helium-scripts %}{% endblock %}
    {% block scripts %}{% endblock %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
        MathJax.Hub.Config({
        "HTML-CSS": { linebreaks: { automatic: true } },
                SVG: { linebreaks: { automatic: true } }
        });
    </script>

    <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
</body>
</html>
