{% extends 'layout-helium.html' %}
{% load static %}

{% block pagetitle %}Fast Match: {{ exam }}{% endblock %}

{% block layout-content %}
<p><i>Instructions:</i> 
Students should hopefully have provided their correct student or team number,
which will make this matching process a whole lot less painful.
Input a number, and the corresponding candidate will appear.
Press enter to confirm this choice.
Alternatively, one can search for the name in the autocomplete field.
</p>

<p>You can use "view full scan" above to see the entire scanned page.</p>

{% if show_attention %}
<p>Currently, the system is set to <b>only display scribbles</b>
which need special attention.</p>
{% endif %}

<div class="scanstage">
	<a class="scanzoom" src="" id="zoom_url" target="_blank"/>(View Full Scan)</a>
	<img class="scan" src="" id="scan_img" />
</div>

<div id="controls">
<p><button id="button_decr_index">Go Back</button>
<button id="button_incr_index">Skip</button></p>
<form id="entity_selector" action="#">
	<p><label>Input Number:</label> <input id="magic_box" name="magic_box" /> then press Enter</p>
	<p>Or, find the name of the entity from below:</p>
	<p>{{ widgetHTML }}</p>
	<p>Or, if there is some issue, explain below (and press submit).
	Entering text below will clear any selections above.</p>
	<textarea rows="3" cols="50" id="attention"></textarea>
	<p><input type="submit" /></p>
</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var regnum_to_id = {
	{% for entity in entities %} {{ entity.number }} : {{ entity.id }}, {% endfor %} 
};
</script>

<script type="text/javascript">
$(document).ready(function() {
	// We have a stream of data objects, which are tuples of ID's and whatnot
	// current_index points to the one we are currently reading

	// Stream of data objects. We'll preload images using this.
	// Items are ordered pairs (examscribble id, examscribble url)
	// current_index describes which one we currently have
	var stream = [];
	var current_index = 0; // the current index inside the stream
	var esid = 0; // current exam scribble's ID

	var is_waiting = true;
	// This flag is set to true if the queue is empty
	// and load_scan_at_current_index cannot find an image.
	// This causes the preload_next_scan to call
	// load_next_scan when it finishes.

	function preload_next_scan(n) {
		$.ajax({
			url  : "/helium/ajax/next-match/",
			type : "POST",
			data : {
				exam_id : {{ exam.id }},
				num_to_load : n,
				show_attention : {{ show_attention }},
			},
		}).done(function(result) {
			for (var i=0; i<result.length; i++) {
				var data = result[i];
				stream.push(data);
				var image_url = data[1];
				$('<img />').attr('src', image_url); // preload the image
				if (is_waiting) { // If pending, load next scan
					is_waiting = false;
					load_scan_at_current_index(); // try again
				}
			}
		});
	}
	preload_next_scan(3); // preload 3 scans

	function load_scan_at_current_index() {
		$("#magic_box").val(''); // reset
		$("#candidate").html(''); // reset
		if (stream.length <= current_index) {
			// No next item to grab: defer until after next preload call
			is_waiting = true;
		}
		else {
			// Push to next guy
			next_data = stream[current_index];
			// Meow
			esid = next_data[0]; // next examscribble
			var image_url  = next_data[1];
			$("#scan_img").attr('src', image_url);
			if (esid != 0) {
				$("#scan_id").html(esid);
				$("#zoom_url").attr('href',
						'/helium/view-paper/scan/' + esid + '/#scan');
			}
		}
		console.log(stream);
		console.log(current_index);
	}

	function updateUI(id) {
		$("#id_entity").val(id);
		if (id != "")
			$(".ui-autocomplete-input").val($("#id_entity option:selected").text());
		else
			$(".ui-autocomplete-input").val("");
	}

	// On keypress in magic box
	$("#magic_box").keyup(function (e) {
		if (esid == 0) return; // nothing to do
		var value = $("#magic_box").val();
		$("#attention").val('');
		console.log(value);
		if (value in regnum_to_id) updateUI(regnum_to_id[value]);
		else updateUI("");
	});
	$(".ui-autocomplete-input").change(
			function (e) { $("#attention").val(''); }
	);

	$("#attention").keyup(function() {
		if ($.trim($("#attention").val()) != "") {
			$("#magic_box").val('');
			updateUI('');
		}
	});

	$("#entity_selector").submit(function() {
		var attention = $.trim($("#attention").val());
		console.log(attention);
		if (($("#id_entity").val() == "") && (attention == ""))
			return false;
		$.ajax({
			url  : "/helium/ajax/submit-match/",
			type : "POST",
			data : { examscribble_id : esid,
				entity_id : $("#id_entity").val(),
				attention: attention},
		});
		updateUI("");
		$("#attention").val(""); // empty attention box

		preload_next_scan(1);
		current_index++; // Move to next one
		load_scan_at_current_index();
		return false; // prevent page from submitting
	});

	$("#button_decr_index").click(function() {
		if (current_index > 0) current_index--;
		load_scan_at_current_index();
	});
	$("#button_incr_index").click(function() {
		if (esid == 0) return;
		current_index++;
		preload_next_scan(1);
		load_scan_at_current_index();
	});

	load_scan_at_current_index(); // load first image
	$("#magic_box").focus();
	$("#id_entity").val("");
	$(".ui-autocomplete-input").val("");
});
</script>
{% endblock %}
