{% extends 'layout-helium.html' %}
{% load static %}

{% block pagetitle %}Fast Match: {{ exam }}{% endblock %}

{% block layout-content %}
<p><i>Instructions:</i> 
Students should hopefully have provided their correct student or team number,
which will make this matching process a whole lot less painful.
Input a number, and the corresponding candidate will appear.
Press enter to confirm this choice.
Alternatively, one can search for the name in the autocomplete field.
</p>

<p>You can use "view full scan" above to see the entire scanned page.</p>

<div class="scanstage">
	<a class="scanzoom" src="" id="zoom_url" target="_blank"/>(View Full Scan)</a>
	<img class="scan" src="" id="scan_img" />
</div>

<div id="controls">
<p><button id="button_decr_index">Go Back</button>
<button id="button_incr_index">Skip</button></p>
<p>Input Number: <input id="magic_box" name="magic_box" /></p>
<p>Candidate: <b><span id="candidate"></span></b></p>
<p>... Or find the name of the candidate from below</p>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var numbers_to_names = {
{% for num, name in pairs %} {{ num }} : "{{ name }}",
{% endfor %}
};
</script>

<script type="text/javascript">
$(document).ready(function() {
	// We have a stream of data objects, which are tuples of ID's and whatnot
	// current_index points to the one we are currently reading

	// Stream of data objects. We'll preload images using this.
	// Items are ordered pairs (examscribble id, examscribble url)
	// current_index describes which one we currently have
	var stream = [];
	var current_index = 0; // the current index inside the stream
	var esid = 0; // current exam scribble's ID

	var is_waiting = true;
	// This flag is set to true if the queue is empty
	// and load_scan_at_current_index cannot find an image.
	// This causes the preload_next_scan to call
	// load_next_scan when it finishes.

	function preload_next_scan(n) {
		$.ajax({
			url  : "/helium/ajax/next-match/",
			type : "POST",
			data : { exam_id : {{ exam.id }}, num_to_load : n},
		}).done(function(result) {
			for (var i=0; i<result.length; i++) {
				var data = result[i];
				stream.push(data);
				var image_url = data[1];
				$('<img />').attr('src', image_url); // preload the image
				if (is_waiting) { // If pending, load next scan
					is_waiting = false;
					load_scan_at_current_index(); // try again
				}
			}
		});
	}
	preload_next_scan(3); // preload 3 scans

	function load_scan_at_current_index() {
		$("#magic_box").val(''); // reset
		$("#candidate").html(''); // reset
		if (stream.length <= current_index) {
			// No next item to grab: defer until after next preload call
			is_waiting = true;
		}
		else {
			// Push to next guy
			next_data = stream[current_index];
			// Meow
			esid = next_data[0]; // next examscribble
			var image_url  = next_data[1];
			$("#scan_img").attr('src', image_url);
			if (esid != 0) {
				$("#scan_id").html(esid);
				$("#zoom_url").attr('href',
						'/helium/view-paper/scan/' + esid + '/#scan');
			}
		}
		console.log(stream);
		console.log(current_index);
	}

	$("#magic_box").keyup(function (e) {
		// TODO write this whole thing
		if (esid == 0) return; // nothing to do
		var value = $("#magic_box").val();

		// Update fuzzy match
		if (value in numbers_to_names)
			$("#candidate").html("<b>"+numbers_to_names[value]+"</b>");
		else
			$("#candidate").html("No match found");

		// If return, ajax submit
		if (value in numbers_to_names && e.which == 13) {
			// Now submit this
			$.ajax({
				url  : "/helium/ajax/submit-match/",
				type : "POST",
				data : { examscribble_id : esid, entity_id : value },
			});
			preload_next_scan(1);

			current_index++; // Move to next one
			load_scan_at_current_index();
		}
	});

	$("#button_decr_index").click(function() {
		if (current_index > 0) current_index--;
		load_scan_at_current_index();
	});
	$("#button_incr_index").click(function() {
		if (esid == 0) return;
		current_index++;
		preload_next_scan(1);
		load_scan_at_current_index();
	});

	load_scan_at_current_index(); // load first image
	$("#score").focus();
});
</script>
{% endblock %}
