{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Grade Scans{% endblock %}

{% block layout-content %}
<h3>Grading: {{ problem }}</h3>

<p><i>Instructions:</i> 
Compare the answer for the given problem with the image shown below.
For an all-or-nothing problem,
input a score of either 0 or 1 in the textbox below, then press return.
You will then automatically be shown a different scan.</p>

<p><b>Ludicrous Speed:</b>
<input type="checkbox" id="ludicrous_speed"
	{% if not problem.allow_partial %}checked{% endif%}/></p>
<p>(Enable ludicrous speed only if you plan to enter one-digit answers only.
If enabled, you don't need to press "return".)
</p>
<div class="scanstage">
	<img class="scan" src="" id="scan_img"/>
</div>
<div id="controls">
<p>Input Score: <input id="score" name="score" type="number" /></p>
<h4>Answer: {{ problem.answer }}</h4>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	var sid = -1; // ID number of scribble we're grading
	// Queue of SID's and URL's. We'll preload images using this.
	// Items added to head of array and pop to recover.
	// Items are ordered pairs (sid, url)
	var queue = [];

	var is_waiting = true;
	// This flag is set to true if the queue is empty
	// and load_next_scan cannot find an image.
	// This causes the preload_next_scan to call
	// load_next_scan when it finishes.

	function preload_next_scan(n) {
		$.ajax({
			url  : "/helium/ajax/next-scan/",
			type : "POST",
			data : { problem_id : {{ problem.id }}, num_to_load : n},
		}).done(function(result) {
			console.log(result);
			for (var i=0; i<result.length; i++) {
				var pair = result[i];
				queue.unshift(pair);
				var image_url = pair[1];
				$('<img />').attr('src', image_url);
				console.log("Preload " + image_url);
				if (is_waiting) {
					is_waiting = false;
					load_next_scan();
				}
			}
		});
	}

	preload_next_scan(3);

	function load_next_scan() {
		if (queue.length == 0) {
			// Defer function execution until post next preload
			is_waiting = true;
		}
		else {
			var next_pair = queue.pop();
			sid = next_pair[0];
			if (sid == 0) $("#controls").html('');
			else $("#scan_id").html(sid);
			$("#scan_img").attr('src', next_pair[1]);
		}
	}

	$("#score").keyup(function (e) {
		var ludicrous_speed = $("#ludicrous_speed").is(":checked");
		if (e.which == 13 || ludicrous_speed) {
			score = $("#score").val()
			{% if not problem.allow_partial %}
			// For non-partial problem require binary scores
			if (score != "0" && score != "1") return;
			{% endif %}
			$.ajax({
				url  : "/helium/ajax/submit-scan/",
				type : "POST",
				data : { scribble_id : sid, score : score },
			});
			preload_next_scan(1);
			load_next_scan();
			$("#score").val(''); // reset
		}
	});
	$("#score").focus();
});
</script>
{% endblock %}
