{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Grade Scans{% endblock %}

{% block layout-content %}
<h3>Grading: {{ problem }} (Answer {{ problem.answer }})</h3>

<p><i>Instructions:</i> 
Compare the answer for the given problem with the image shown below.
For an all-or-nothing problem,
input a score of either 0 or 1 in the textbox below, then press return.
You will then automatically be shown a different scan.</p>

<p><b>Ludicrous Speed:</b> <input type="checkbox" id="ludicrous_speed" /></p>
<p>(Enable ludicrous speed only if you plan to enter one-digit answers only.
If enabled, you don't need to press "return".)
</p>
<div id="scan_img_div"><img src="" id="scan_img"/></div>
<div id="controls">
<h4>Input Score</h4>
<p><input id="score" name="score" type="number" /></p>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
// Copied from https://docs.djangoproject.com/en/1.9/ref/csrf/. Blah.
$(document).ready(function() {
	var sid = -1; // ID number of scribble we're grading
	function next_scan() {
		$.ajax({
			url : "/helium/ajax/next-scan/",
			type : "POST",
			data: { problem_id : {{ problem.id }} },
		}).done(function(result) {
			console.log(result);
			sid = result[0];
			if (sid == 0) $("#controls").html('');
			$("#scan_img").attr('src', result[1]);
		});
	}
	next_scan();
	$("#score").keyup(function (e) {
		var ludicrous_speed = $("#ludicrous_speed").is(":checked");
		if (e.which == 13 || ludicrous_speed) {
			score = $("#score").val()
			{% if not problem.allow_partial %}
			// For non-partial problem require binary scores
			if (score != "0" && score != "1") return;
			{% endif %}
			console.log("Submitting score for " + sid);
			$.ajax({
				url : "/helium/ajax/submit-scan/",
				type : "POST",
				data: { scribble_id : sid, score : score },
			}).done(function(result) {
				console.log(result);
			});
			next_scan();
			$("#score").val(''); // reset
		}
	});
});
</script>
{% endblock %}



{% comment %}
<form action="/helium/submit-scan/" method="post">
	{% csrf_token %}
	<input id="scribble_id" name="scribble_id" />
	<input id="score" name="score" />
	<input type="submit" />
</form>
{% endcomment %}

{% comment %}
<h4>Get next scan (Debugging)</h4>
<form action="/helium/next-scan/" method="post">
	{% csrf_token %}
	<input name="problem_id" type="hidden" value="{{ problem.id }}"/>
	<input type="submit" value ="Get Scan" />
</form>
{% endcomment %}
