{% extends 'layout.html' %}
{% load static %}

{% block title %}Helium | Dashboard{% endblock %}

{% block layout-banner %}
{% endblock layout-banner %}

{% block layout-content %}
<div id="content-container">
<h2>Helium</h2>
<p>
	This is <b>Helium</b>, brought to you by HMMT 2016-2017 Scripts Team.
	It is inspired off of Stanford's <a href="http://atomicgrader.com/">Atomic Grader</a>,
	and named in its honor.
</p>
<hr />

<h4>Grade by Scans</h4>
<form action="/helium/grade-scans/redir/" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ problemscanform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Start Scan Grader" />
		</div>
	</div>
</form>
<form action="/helium/match-exam-scans/redir/" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ examscanform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Match Scans" />
		</div>
	</div>
</form>

<ul>
	<li><a href="/helium/upload-scans">Upload Scans</a></li>
</ul>

<h4>Grade by Physical Papers</h4>
<form action="/helium/old-grader/exam/redir/" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ examform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Classical Grader" />
		</div>
	</div>
</form>
<form action="/helium/old-grader/problem/redir/" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ problemform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Classical Grader" />
		</div>
	</div>
</form>

<ul>
	<li><a href="/helium/estimation-calc">Guts Estimation Grader</a></li>
</ul>

<h4>Information</h4>
<ul>
	<li><a href="/helium/progress-problems/">Progress Grading</a></li>
	<li><a href="/helium/progress-scans/">Progress Matching Scans</a></li>
	<li><a href="/helium/view-conflicts/own/">View Grading Conflicts</a></li>
	<li><a href="/helium/find-verdicts">Find Verdicts</a></li>
</ul>

<h4>Results (not realtime)</h4>
<ul>
	<li><a href="/helium/reports/short/">Print Short Results</a></li>
	<li><a href="/helium/reports/extended/">Print Extended Results</a></li>
	<li><a href="/helium/reports/teaser/">Print Teaser</a></li>
</ul>

{% if request.user.is_superuser %}
<h4>Management Commands</h4>
<ul>
	<li><a href="/helium/management/algscore/">Run Algorithmic Scoring</a></li>
	<li><a href="/helium/management/computeverdicts/">Compute Verdicts</a></li>
	<li><a href="/helium/management/updatescribbles/">Update Scribbles</a></li>
	<li><a href="/helium/management/heliumimport/">Import Entities from Reg</a></li>
</ul>

<h4>Administration Commands</h4>
<ul>
	<li><a href="/helium/view-conflicts/all/">View All Grading Conflicts</a></li>
	<li><a href="/helium/reports/full/">Print Full Results</a></li>
	<li><a href="/helium/spreadsheet/">Score Spreadsheet</a></li>
	<li><a href="/admin/helium/">Admin Interface</a></li>
</ul>
{% endif %}

</div>
{% endblock %}

{% block layout-footer %}
<section id="banner"><img src="{% static 'img/balloons.png' %}"/></section>
{% endblock %}
