{% extends 'layout.html' %}
{% load static %}

{% block title %}Helium | Dashboard{% endblock %}

{% block layout-banner %}
{% endblock layout-banner %}

{% block layout-content %}
<div id="content-container">
<h2>Helium</h2>
<p>
	This is <b>Helium</b>, brought to you by HMMT 2016 Scripts Team.
	It is inspired off of Stanford's <a href="http://atomicgrader.com/">Atomic Grader</a>,
	and named in its honor.
</p>
<hr />

<h4>Grade by Scans</h4>
<form action="/helium/grade-scans" method="get">
	<div class="row">
		<div class="col-md-8">
		{% csrf_token %}
		{{ scanform.as_p }}
		</div>
		<div class="col-md-4">
		<p><input type="submit" name="from_landing" value="Start Scan Grader" /></p>
		</div>
	</div>
</form>

<h4>Grade by Physical Exam</h4>
<form action="/helium/old-grader" method="post">
	<div class="row">
		<div class="col-md-8">
		{% csrf_token %}
		{{ examform.as_p }}
		</div>
		<div class="col-md-4">
		<p><input type="submit" name="from_landing" value="Start Old Grader" /></p>
		</div>
	</div>
</form>

<h4>Information</h4>
<ul>
	<li><a href="/helium/progress">Progress</a></li>
	<li><a href="/admin/helium">Django Admin</a></li>
</ul>
</div>
{% endblock %}

{% block layout-footer %}
<hr />
<section id="banner"><img src="{% static 'img/balloons.png' %}"/></section>
{% endblock %}
