{% extends 'base-helium.html' %}

{% load static %}

{% block content %}
  <div id="page-wrapper">
  {% block layout-banner %}
  {% endblock layout-banner %}


  <section id="body-form">
    <div id="content-container">
    <div class="btn-toolbar"><a href="/helium">&lt; Back to Helium home</a></div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>{% block pagetitle %}{% endblock %}</h3>
    {% block layout-content %}
    {% endblock %}
    </div>
    <hr />
  </section>

  {% block layout-footer %}
  <section id="footer">
    <p><a href="/helium">&lt; Back to Helium home</a></p>
  </section>
  <section id="banner"><img src="{% static 'img/balloons.png' %}"/></section>
  {% endblock %}
{% endblock %}
