{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/layout.css' %}" rel="stylesheet">
<link href="{% static 'css/helium.css' %}" rel="stylesheet">
{% if exam %}
<style type="text/css">
body { background-color: {{ exam.color }}; }
</style>
{% endif %}
{% endblock %}

{% block content %}
  <div id="page-wrapper">
  {% include 'includes/navbar.html' %}
  {% block layout-banner %}
  {% endblock layout-banner %}

  <section id="body-form">
	<div id="content-container">
	<div class="btn-toolbar"><a href="/helium">&lt; Back to Helium home</a></div>
    {% block layout-content %}
    {% endblock %}
	</div>
	<hr />
  </section>

  {% block layout-footer %}
  <section id="footer">
	<p><a href="/helium">&lt; Back to Helium home</a></p>
  </section>
  <section id="banner"><img src="{% static 'img/balloons.png' %}"/></section>
  {% endblock %}
{% endblock %}
