{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Match Scans to Names{% endblock %}

{% block layout-content %}

<h3>Name Matching System for {{ exam }}</h3>
{% include "_scanstage.html" with examscribble=scribble image_url=scribble.name_image.url %}

{% if form %}
{% include "_form.html" with form=form submit_name="Match Exam" %}
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() { $('.ui-autocomplete-input').focus(); });
</script>
{% endblock %}
