{% extends 'layout-helium.html' %}
{% load static %}

{% block pagetitle %}Name Matching System for {{ exam }}{% endblock %}

{% block layout-content %}

{% if form %}
{% include "_scanstage.html" with examscribble=scribble image_url=scribble.name_image.url %}
{% include "_form.html" with form=form submit_name="Match Exam" %}
{% else %}
All done!
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() { $('.ui-autocomplete-input').focus(); });
</script>
{% endblock %}
