{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Match Scans to Names{% endblock %}

{% block layout-content %}


<h3>Name Matching System for {{ exam }}</h3>

{% if previous_entity %}
<p class="text-success">Successfully identified {{ exam }} exam for {{ previous_entity }}.</p>
{% endif %}

<div id="scan_img_div">
	<h5>Scribble ID {{ scribble.id }}</h5>
	<img src="{{ scribble_url }}" id="scan_img"/>
</div>

{% if matchform %}
<form action="/helium/match-exam-scans/{{exam.id}}/" method="post">
{% csrf_token %}
<table class="table">
{{ matchform.as_table }}
</table>
<input type="submit" value="Match">
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/autoselect.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_entity').selectToAutocomplete();
	$('.ui-autocomplete-input').focus();
});
</script>
{% endblock %}
