{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Grade Exams{% endblock %}

{% block layout-content %}


<h3>Classical Grader: {{ exam }}</h3>

<p>Enter scores below, using binary scores for all-or-nothing problems.
Ideally, you should enter all of data,
but if you leave certain fields blank they will not be processed.</p>

<p>The system will alert you if you have a merge conflict.
If you are confident your own entered entry is correct,
you should use the "override" button below.</p>

<p>Use <a target="_new" href="/helium/estimation-calc">this widget</a>
for grading Guts estimation questions.</p>

{% if entity %}
<p class="text-success">Successfully graded {{ num_graded }} problems for {{ entity }}.</p>
{% endif %}

<form action="{{ request.path }}" method="post">
{% csrf_token %}
<table class="table">
	{% include "_form.html" with form=oldform %}
</table>
<input type="submit" value="Enter Scores">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/autoselect.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	function update(){
		if ( $("#id_entity").val() ) {
			$.ajax({
				url  : "/helium/ajax/prev-evidence/",
				type : "POST",
				data : {
					entity_id : $("#id_entity").val(),
					exam_id : {{ exam.id }}
				},
			}).done( function(result) {
				var encountered_null = false;
				for (var i=0; i<result.length; ++i) {
					var n = result[i][0];
					var s = result[i][1];
					$("#id_p" + n).val(s);
					if (s == null && !encountered_null) {
						$("#id_p" + n).focus(); // Focus on that one
						encountered_null = true;
					}
				}
			})
		}
	}
	$('#id_entity').change(update).selectToAutocomplete();
	update(); // Run initial update
});
</script>
{% endblock %}
