{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Grade Exams{% endblock %}

{% block layout-content %}


<h3>Old Grader: {{ exam }}</h3>

<p>Enter scores below, using binary scores for all-or-nothing problems.
Ideally, you should enter all of data,
but if you leave certain fields blank they will not be processed.</p>

<p>The system will alert you if you have a merge conflict.
If you are confident your own entered entry is correct,
you should use the "override" button below,
and then hand it to a third person to triple grade.</p>

<form action="/helium/old-grader/{{exam.id}}" method="post">
{% csrf_token %}
{{ oldform.as_p }}
<input type="hidden" name="exam_id" value="{{ exam.id }}">
<input type="submit" name="from_grader" value="Submit">
</form>


{% endblock %}
