{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | Grade Exams{% endblock %}

{% block layout-content %}


<h3>Old Grader: {{ exam }}</h3>

<p>Enter scores below, using binary scores for all-or-nothing problems.
Ideally, you should enter all of data,
but if you leave certain fields blank they will not be processed.</p>

<p>The system will alert you if you have a merge conflict.
If you are confident your own entered entry is correct,
you should use the "override" button below,
and then hand it to a third person to triple grade.</p>

{% if whom %}
<p class="text-success">Successfully graded {{ num_graded }} problems for {{ whom }}.</p>
{% endif %}

<form action="/helium/old-grader/{{exam.id}}/" method="post">
{% csrf_token %}
<table class="table"e>
{{ oldform.as_table }}
</table>
<input type="hidden" name="exam_id" value="{{ exam.id }}">
<input type="submit" value="Enter Scores">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/autoselect.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_mathlete').selectToAutocomplete();
});
</script>
{% endblock %}
