{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | View Verdict{% endblock %}

{% block layout-content %}
<h3>{{ verdict.problem }} for {{ verdict.entity }}</h3>

{% if verdict.problemscribble.image_url %}
<div><img class="scan" src="{{ verdict.problemscribble.image_url }}" /></div>
{% endif %}

<h4>Submit Evidence</h4>
{% include "_form.html" with form=form submit_name="Submit Evidence" %}

<h4>Existing Evidences</h4>
{% include "_table.html" %}

<h4>Final Judgment</h4>
<ul>
	<li>Assigned Score: <b>{{ verdict.score }}</b></li>
	<li>Judgment Done: <b>{{ verdict.is_done }}</b></li>
	<li>Judgment Valid: <b>{{ verdict.is_valid }}</b></li>
</ul>

{% endblock %}
