{% extends 'layout-helium.html' %}
{% load static %}

{% block title %}Helium | View Verdict{% endblock %}

{% block layout-content %}
<h3>{{ verdict.problem }} for {{ verdict.entity }}</h3>

{% if image_url %}
<div><img class="scan" src="{{ image_url }}" /></div>
{% endif %}

<h3>Submit Evidence</h3>
{% include "_form.html" with form=evform submit_name="Submit Evidence" %}

<h3>Existing Evidences</h3>
{% include "_table.html" %}

<h4>Final Judgment</h4>
<ul>
	<li>Consensus Score: <b>{{ verdict.score }}</b></li>
	<li>Judgment Done: <b>{{ verdict.is_done }}</b></li>
	<li>Judgment Valid: <b>{{ verdict.is_valid }}</b></li>
</ul>

{% endblock %}
